@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html{
    --dark: #7DA2A9;
    --light: #F7F7F7;
}

*{
    background-color: var(--light);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}